@import "fonts";
@import "icons";

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Open Sans";
  font-size: $base-font-size;
}

body {
  background: $holi-grey;
  justify-content: center;
  align-items: center;
}

@import "mobile_overrides";
