/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}/open_sans/open-sans-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("#{$font-path}/open_sans/open-sans-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("#{$font-path}/open_sans/open-sans-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("#{$font-path}/open_sans/open-sans-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("#{$font-path}/open_sans/open-sans-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("#{$font-path}/open_sans/open-sans-v15-latin-regular.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("#{$font-path}/open_sans/open-sans-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("#{$font-path}/open_sans/open-sans-v15-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("#{$font-path}/open_sans/open-sans-v15-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("#{$font-path}/open_sans/open-sans-v15-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("#{$font-path}/open_sans/open-sans-v15-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("#{$font-path}/open_sans/open-sans-v15-latin-600.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}/roboto_mono/roboto-mono-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto Mono"), local("RobotoMono-Regular"),
    url("#{$font-path}/roboto_mono/roboto-mono-v6-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("#{$font-path}/roboto_mono/roboto-mono-v6-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("#{$font-path}/roboto_mono/roboto-mono-v6-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("#{$font-path}/roboto_mono/roboto-mono-v6-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("#{$font-path}/roboto_mono/roboto-mono-v6-latin-regular.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "arrow-back";
  src: url("#{$font-path}/arrow-back.ttf")
      format("truetype"),
    url("#{$font-path}/arrow-back.woff") format("woff"),
    url("#{$font-path}/arrow-back.svg#arrow-back")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
