[class^="holi-icon-"], [class*=" holi-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arrow-back' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.holi-icon-arrow_back:before {
  content: "\e900";
}
