$holi-sunrise: #ff2d55;
$holi-deepsky: #4eb4f9;
$holi-black: #2d2d2d;
$holi-white: #ffffff;
$holi-grey: #efeff4;
$unholi-grey: #dfdfe4; // placeholder text and line
$holi-silver: #b0b8b9;

$header-height: 80px;
$container-width: 300px;
$container-radius: 6px;
$base-padding: 25px;
$base-font-size: 14px;
$secondary-font-size: 12px;
$transition-speed: 0.2s;

@import "~font-awesome-sass/assets/stylesheets/font-awesome/_variables.scss";
